#chickenbutton {
	background-color: lightgreen;
}

#beefbutton {
	background-color: lightblue;
}

#sushibutton {
	background-color: lightpink;
}

#mainpage {
	height: 1000px;
}

section .col-xs-12 {
	background-color: gray;
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 20px;
}