* {
	color: white;
	font-family: 'Cheque', sans-serif;
}

.navbar .navbar-brand, .navbar .nav-link {
	color: white;
}

body {
	background: url(galaxy.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding:0;

}

#home {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25vh;
}

h1 {
	font-size: 7vw;
}

.grid-container {
            display: grid;
            grid-template-rows: auto 1fr; /* Navbar height is auto, home section takes the remaining space */
            height: 100vh;
        }